.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#eventForm {
	width: 450px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
  display: flex;
  
}

.events {
  display: grid;
  /* width: 600px; */
  margin: 0 auto;
  grid-gap: 10px;
  /* grid-template-columns: repeat(3, 1fr); */
  color: black;
}

.events li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: pink;
  border: 1px solid white;
  border-radius: 10px;
}

.events.active li {
  display: block;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: pink;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
} 

.events li:hover {
  background: #eee;
}

.events.active li:hover {
  background: pink;
}

.addonForm {
  visibility: hidden;
}

.addonForm.active {
  visibility: visible !important;
}

.eventContainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.eventtag{
  font-size: 20px;
  margin-right: 5px;
}

.inputtag {
  padding: 0 5px;
  height: 24px;
}